body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply ml-2 rounded-md bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-600 focus:bg-blue-600 focus:outline-none
  }
  .btn-cancel {
    @apply ml-2 rounded-md bg-gray-500 px-4 py-2 font-bold text-white hover:bg-gray-600 focus:bg-gray-600 focus:outline-none;
  }
  .btn-delete {
    @apply ml-2 rounded-md bg-red-500 px-4 py-2 font-bold text-white hover:bg-red-600 focus:bg-red-600 focus:outline-none;
  }
}